opencv-python==4.11.0.86
numpy==2.1.2
torch==2.6.0
gradio==5.27.0
pillow==11.0.0
psutil==7.0.0
matplotlib==3.10.1
segmentation_models_pytorch==0.5.0
torchvision==0.21.0
transformers==4.51.3
albumentations==2.0.5
pytorch_lightning==2.5.1.post0
torchinfo==1.8.0
huggingface_hub==0.24.6
requests==2.32.3
